
<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8">
            <meta name="description" content="KPC, konstruisanje, projektovanje, CNC obrada">

            <meta name="keywords" content="KPC, KPC DOO, konstruisanje, projektovanje, CNC obrada, mašinska obrada, 3D modeliranje, GILDEMEISTER NEF 400 EPL, HERMLE 600 UWF, UNIVERZALNI STRUG PRVOMAJSKA TES 3, MAHO 700 C, građevinski elementi, sistemi za grejanje, rashladni sistemi, sistemi za ventilaciju, alati, proizvodne linije, fabrikacija, kalupi za livenje legura, alati za brizganje plastike, najsavremenije projektovanje, razrada tehničke dokumentacije, izrada tehnologije za CNC mašine i 3D printere, FEA analiza delova i sklopova">

            <meta name="author" content="Jelena Ćorić">
            <title>KPC Mašinski kapaciteti</title>
            
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
            <link rel="stylesheet" href="/stylesheets/main.css">
        </head>
            
        <body>
            <div id="container">
                <div id="wrap">
                    <header id="header">
                        <div class="container">
                            <div id="header-top">
                                <a class="logo" href="/">
                                    <h1><i class="industry icon"></i>KPC DOO</h1>
                                </a>
                            </div>
                        </div>
                        <div id="main-navigation">
                            <div class="container">
                                <ul class="main-menu">
                                    <li><a class="a navbar-brand" href="/">Početna</a></li>
                                    <li><a class="a navbar-brand " href="/o-nama">O nama</a></li>
                                    <li><a class="a navbar-brand current" href="/kapaciteti">Mašinski kapaciteti</a></li>
                                    <li><a class="a navbar-brand" href="/pogon">Pogon mašinske obrade</a></li>
                                    <li><a class="a navbar-brand" href="/prezentacija">Projektna prezentacija</a></li>       
                                    <li><a class="a navbar-brand" href="/proizvodi">Proizvodi</a></li>
                                    <li><a class="a navbar-brand last" href="/kontakt">Kontakt</a></li>
                                </ul>                         
                            </div>                
                    </header>
                    <div id="content">
                        <div id="gildemeister">
                            <h2>GILDEMEISTER NEF 400 EPL</h2>
                            <div id="carousel-g" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-g" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-g" data-slide-to="1"></li>
                                </ol>
                                
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="gildemeister400epl1.jpg" alt="gildemeister400epl"/>
                                        <div class="carousel-caption">
                                            <!-- <h3>Savijačica</h3> -->
                                            <!-- <p>One of the best jams ever made.</p> -->
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="gildemeister400epl2.jpg" alt="gildemeister400epl2"/>
                                        <div class="carousel-caption">
                                            <!-- <h3>Savijačica</h3> -->
                                            <!-- <p>Taste some of my special jams.</p> -->
                                        </div>
                                    </div>
                                </div>	
                            
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#carousel-g" data-slide="prev"> 
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a> 
                                <a class="right carousel-control" href="#carousel-g" data-slide="next"> 
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>  
                            <span>
                                <h4>Karakteristike mašine:</h4>
                                <ul>
                                    <li>maksimalni prečnik obrade: Ø 240 mm</li>
                                    <li>maksimalna dužina obrade: 1200 mm</li>
                                    <li>maksimalni prečnik obradka: Ø 450 mm</li>
                                    <li>Upravljačka jedinica EPL 1</li>
                                    <li>CAM: INVENTOR PROFESSIONAL 2018 HSM</li>                                 </li>
                                </ul>
                            </span>
                        </div>
                        <div id="hermle">
                            <h2>HERMLE 600 UWF</h2>
                            <div id="carousel-h" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-h" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-h" data-slide-to="1"></li>
                                    <li data-target="#carousel-h" data-slide-to="2"></li>
                                    <li data-target="#carousel-h" data-slide-to="3"></li>
                                </ol>
                                
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="hermle600uwf1.png" alt="hermle600uwf"/>
                                        <div class="carousel-caption">
                                            <!-- <h3>Savijačica</h3> -->
                                            <!-- <p>One of the best jams ever made.</p> -->
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="hermle600uwf2.jpg" alt="hermle600uwf"/>
                                        <div class="carousel-caption">
                                            <!-- <h3>Savijačica</h3> -->
                                            <!-- <p>Taste some of my special jams.</p> -->
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="hermle600uwf3.jpg" alt="hermle600uwf"/>
                                        <div class="carousel-caption">
                                            <!-- <h3>Savijačica</h3> -->
                                            <!-- <p>Taste some of my special jams.</p> -->
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="hermle600uwf4.jpg" alt="hermle600uwf"/>
                                        <div class="carousel-caption">
                                            <!-- <h3>Savijačica</h3> -->
                                            <!-- <p>Taste some of my special jams.</p> -->
                                        </div>
                                    </div>
                                </div>	
                            
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#carousel-h" data-slide="prev"> 
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a> 
                                <a class="right carousel-control" href="#carousel-h" data-slide="next"> 
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>  
                            <span>
                                <h4>Karakteristike mašine:</h4>
                                <ul>
                                    <li>x osa: 350 mm</li>
                                    <li>y osa: 300 mm</li>
                                    <li>z osa: 350 mm</li>
                                    <li>Upravljačka jedinica HEIDENHAIN 155</li>
                                    <li>CAM: INVENTOR PROFESSIONAL 2018 HSM</li>                                 </li>
                                </ul>
                            </span>
                        </div>
                        <div id="strug">
                            <h2>UNIVERZALNI STRUG PRVOMAJSKA TES 3</h2>
                            <div id="carousel-u" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-u" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-u" data-slide-to="1"></li>
                                    <li data-target="#carousel-u" data-slide-to="2"></li>
                                </ol>
                                
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="strug-prvomajska-tes1.jpg" alt="strug-prvomajska-tes"/>
                                        <div class="carousel-caption">
                                            <!-- <h3>Savijačica</h3> -->
                                            <!-- <p>One of the best jams ever made.</p> -->
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="strug-prvomajska-tes2.jpg" alt="strug-prvomajska-tes"/>
                                        <div class="carousel-caption">
                                            <!-- <h3>Savijačica</h3> -->
                                            <!-- <p>Taste some of my special jams.</p> -->
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="strug-prvomajska-tes3.jpg" alt="strug-prvomajska-tes"/>
                                        <div class="carousel-caption">
                                            <!-- <h3>Savijačica</h3> -->
                                            <!-- <p>Taste some of my special jams.</p> -->
                                        </div>
                                    </div>
                                </div>	
                            
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#carousel-u" data-slide="prev"> 
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a> 
                                <a class="right carousel-control" href="#carousel-u" data-slide="next"> 
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>  
                            <span>
                                <h4>Karakteristike mašine:</h4>
                                <ul>
                                    <li>maksimalna dužina obrade: 2000 mm</li>
                                </ul>
                            </span>
                        </div>
                        <div id="maho">
                            <h2>MAHO 700 C</h2>
                            <img id="maho700c" src="maho700c.jpg" alt="maho700c">
                            <span>
                                <h4>Karakteristike mašine:</h4>
                                <ul>
                                    <li>x osa: 700 mm</li>
                                    <li>y osa: 450 mm</li>
                                    <li>z osa: 500 mm</li>
                                    <li>Upravljačka jedinica SIMENS 432</li>
                                    <li>CAM: INVENTOR PROFESSIONAL 2018 HSM</li>                                 </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="copyrights">
                    <div class="container" style="text-align: center;">
                        <p>Izrada web sajta: JELENA ĆORIĆ 
                            <br>
                            <i class="phone icon"></i> 066 1 789 23
                            <br>
                            <a href="mailto:alkaloidoscope@gmail.com">Pošaljite mail na adresu: alkaloidoscope@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>     
        </body>
</html>