
<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8">
            <title>Kontakt</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
            <link rel="stylesheet" href="/stylesheets/main.css">
        </head>
            
            <body>
                <div id="container">
                    <div id="wrap">
                        <header id="header">
                            <div class="container">
                                <div id="header-top">
                                    <a class="logo" href="/">
                                        <h1><i class="industry icon"></i>KPC DOO</h1>
                                    </a>
                                </div>
                            </div>
                            <div id="main-navigation">
                                <div class="container">
                                    <ul class="main-menu">
                                        <li><a class="a navbar-brand" href="/">Početna</a></li>
                                        <li><a class="a navbar-brand " href="/o-nama">O nama</a></li>
                                        <li><a class="a navbar-brand" href="/pogon">Pogon mašinske obrade</a></li>
                                        <li><a class="a navbar-brand" href="/prezentacija">Projektna prezentacija</a></li>
                                        <li><a class="a navbar-brand" href="/proizvodi">Proizvodi</a></li>
                                        <li><a class="a navbar-brand current last" href="/kontakt">Kontakt</a></li>
                                    </ul>                         
                                </div>                
                        </header>
                        <div id="content">
                            <div id="map"></div>
                            <script>
                                function initMap() {
                                var uluru = {lat: 44.87034800000001, lng: 20.698776899999984};
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 13,
                                    center: uluru
                                });
                                var marker = new google.maps.Marker({
                                    position: uluru,
                                    map: map
                                });
                                }
                            </script>
                              <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBehfFPJ-ke3gyA6I3yrEnkLb1QDeBuUxU&callback=initMap"
                              type="text/javascript"></script>


                            
                            <div id="kontakt">
                                <section class="one-fourth">
                                    <ul class="contact-info-widget">
                                        <li>
                                            <i class="home icon"></i>
                                            &nbsp;&nbsp;Milutina Markova 32
                                            <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;26206 Sakule
                                        </li>
                                        <li>
                                            <i class="home icon"></i>
                                            &nbsp;&nbsp;Kancelarija u Pančevu
                                            <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Moravska 3/5
                                            <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;26000 Pančevo
                                        </li>
                                        <li>
                                            <i class="phone icon"></i>
                                            &nbsp;&nbsp;+381 13 351 467
                                        </li>
                                        <li>
                                            <i class="phone icon"></i>
                                            &nbsp;&nbsp;+381 63 528 610
                                        </li>
                                        <li>
                                            <i class="fax icon"></i>
                                            &nbsp;&nbsp;-381 13 300 610
                                        </li>
                                        <li>
                                            <i class="envelope outline icon"></i>
                                            &nbsp;&nbsp;proing.steel@gmail.com
                                        </li>
                                        <li>
                                            <i class="envelope outline icon"></i>
                                            &nbsp;&nbsp;kpc@europe.com
                                        </li>
                                        <li>
                                            <i class="industry icon"></i>Mašinski pogon – Pančevo
                                            <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bavaništanski put 192
                                            <br>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;26000 Pančevo
                                        </li>
                                        <li>
                                            <i class="phone icon"></i>
                                            &nbsp;&nbsp;+381 63 528 610
                                        </li>
                                    </ul>
                                </section>
                            </div>
                            
                        </div>
                    </div>
                    <div id="copyrights">
                        <div class="container" style="text-align: center;">
                            <p>Izrada web sajta: JELENA ĆORIĆ 
                                <br>
                                <i class="phone icon"></i> 066 1 789 23
                                <br>
                                <a href="mailto:alkaloidoscope@gmail.com">Pošaljite mail na adresu: alkaloidoscope@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>     
            </body>
</html>


		
		

	
