#container {
    padding-left: 100px;
    padding-right: 100px;
}

#wrap {
    float: left;
    width: 100%;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.70);
    background: white;
    margin-top: 10px;
}

#header {
    padding: 20px 0 0px 0;
    width: 100%;
    float: left;
}

#header-top {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

#main-navigation {
    float: left;
    width: 100%;
    height: auto;
    background: darkcyan
}


body {
    /* background-color: rgb(1, 53, 53); */
    background: #466368;
    background: -webkit-linear-gradient(#71ac9f, #293f50);
    background:    -moz-linear-gradient(#71ac9f, #293f50);
    background:         linear-gradient(#71ac9f, #293f50);
    background-attachment: fixed;
}


container {
    background: #fff;
    width: 1040px;
    margin: 0px auto;
}

#main-navigation ul li {
    position: relative;
    display: inline;
    text-align: center;
}

#main-navigation ul {
    margin: -0px 0 0 0;
    padding: 0px 0;
    list-style-type: none;
    float: left;
}


.portfolio-item-c #carousel-1 {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid black;
}

.portfolio-item-p #carousel-2 {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid black;
}

.portfolio-item-s #carousel-3 {
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid black;
}

div#myCarousel {
    margin-top: 118px;
    /* margin-bottom: 100px; */
}



div#o-nama {
    margin-top: 50px;
    padding: 100px;
}

div#kontakt {
    margin-top: 50px;
    margin-bottom: 50px;
}


section.one-fourth {
    padding-right: 750px;
    padding-bottom: 200px;
    margin-bottom: 200px;
}

iframe {
    margin-top: 50px;
}

#title {
    margin-top: 150px;
}

#title h1 {
    font-family:  "Times New Roman", Times, serif;
    text-align: center;
}

#video1 {
    padding-top: 200px;
}

.video {
    padding-top: 20px;
    padding-bottom: 20px;
}

#map {
    height: 400px;
    width: 100%;
}



ul {
    list-style: none;
}

span ul {
    list-style-type: circle;
    padding-left: 500px;
    font-size: 15px;
}

h4 {
    font-family:  "Times New Roman", Times, serif;
    font-size: 20px;
}

ul.contact-info-widget li:first-child {
    border-top: 1px dotted #e1e1e1;
}

ul.contact-info-widget li {
    width: 100%;
    float: left;
    display: block;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px dotted #e1e1e1;
    background: none;
}

.current {
    background: rgb(2, 187, 187);
}

.a {
    border-left: 1px solid #d8d8d8;
}

a {
    font-family:  "Times New Roman", Times, serif;
    display: inline;
}

li a:hover {
    color:white;
}


.industry.icon {
    margin-right: 20px;
}

h1 {
    font-family:  "Times New Roman", Times, serif;       
}

p {
    font-family:  "Times New Roman", Times, serif;
    font-size: 20px;       
}

.last {
    border-right: 1px solid #d8d8d8;
}

img {
    max-width: 100%;
    height: auto;
    align-content: center; 
    margin: 20px auto;
}

.logo {
    font-family: "Times New Roman", Times, serif;
}

li {
    font-family: "Times New Roman", Times, serif;
}

.thumbnail img {
    width: 100%;
}

.showthumbnail {
    padding: 0;
    width: 500px;
}

.thumbnail .caption-full {
    padding: 9px;
}

a {
    color: black;
}


#portfolio-item-1 {
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid black;
    /* border-radius: 10px; */
}

#portfolio-item-1 img{
    /* border-radius: 10px; */
}

.portfolio-item {
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid black;
    /* border-radius: 10px; */
}

/* #portfolio-item-2 img{
    border-radius: 10px;
} */

h3 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* #portfolio-container {
    padding-top: 400px;
} */


#copyrights {
    width: 100%;
    float: left;
    padding: 25px 0 10px 0;
    color: black;
    background: rgb(94, 167, 167);
}

.container {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

#carousel-g {
    float: left;
    width: 400px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

#gildemeister h2 {
    padding-top: 200px;
    padding-left: 30px;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
}


@media screen and (min-width:480px) {
    .input {
        float: center;
    }
}

@media screen and (min-width:720px) {
    .input {
        float: center;
    }
}
